
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
   <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>

 <!--Home 1 -->
<form action="" class="myForm" name="home1" method="POST">
 {% csrf_token %}
    Home 1
    <label class="switch fan">
       <input name="h1fan" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fan</span>
    </label>

    <label class="switch lights">
      <input name="h1bulb" type="checkbox"/>
      <span class="slider round"></span>
      <br><br><br>
        <span class="title">Bulb</span>
    </label>

    <label class="switch lights">
      <input  name="h1light" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Lights</span>
    </label>

    <label class="switch heavy">
      <input name="h1fridge" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fridge</span>
    </label>

    <label class="switch heavy">
      <input name="h1ac" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">AC</span>
    </label>

  <label class="switch heavy">
      <input name="h1geyser" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Geyser</span>
    </label>

  <label class="switch heavy">
      <input name="h1iron" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Iron</span>
    </label>

 <br><br>

<br>Home 2
  <!--Home 2  -->
    <label class="switch fan">
       <input name="h2fan" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fan</span>
    </label>



    <label class="switch lights">
      <input  name="h2light" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Lights</span>
    </label>

    <label class="switch heavy">
      <input name="h2fridge" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fridge</span>
    </label>

    <label class="switch heavy">
      <input name="h2ac" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">AC</span>
    </label>

  <label class="switch heavy">
      <input name="h2geyser" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Geyser</span>
    </label>

  <label class="switch heavy">
      <input name="h2iron" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Iron</span>
    </label>

 <br><br>

  <br>Home 3
    <label class="switch fan">
       <input name="h3fan" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fan</span>
    </label>



    <label class="switch heavy">
      <input name="h3ac" type="checkbox"/>
      <span class="slider round"></span>
      <br><br><br>
        <span class="title">AC</span>
    </label>

    <label class="switch lights">
      <input  name="h3light" type="checkbox" id="checkBox9"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Lights</span>
    </label>

    <label class="switch heavy">
      <input name="h3fridge" type="checkbox" id="checkBox10"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fridge</span>
    </label>


  <label class="switch heavy">
      <input name="h3geyser" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Geyser</span>
    </label>



  <label class="switch heavy">
      <input name="h3iron" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Iron</span>
    </label>

 <br><br>

 <br>Home 4
  <!--Home 4  -->
    <label class="switch fan">
       <input name="h4fan" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fan</span>
    </label>




    <label class="switch lights">
      <input  name="h4light" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Lights</span>
    </label>


    <label class="switch heavy">
      <input name="h4fridge" type="checkbox"/>
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Fridge</span>
    </label>

  <label class="switch heavy">
      <input name="h4geyser" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Geyser</span>
    </label>

  <label class="switch heavy">
      <input name="h4iron" type="checkbox" />
        <span class="slider round"></span>
        <br><br><br>
        <span class="title">Iron</span>
    </label>

 <label class="switch heavy">
      <input name="h4ac" type="checkbox"/>
      <span class="slider round"></span>
      <br><br><br>
        <span class="title">AC</span>
    </label>


 <br><br>

    <input type="submit" name="submit">
</form>


<script>
    $(document).on('submit', '.myForm', function(e) {
     $.ajax({
        url: $(this).attr('action'),
        type: $(this).attr('method'),
        data: $(this).serialize(),
    });
    e.preventDefault();
});
</script>
</body>
</html>